#version=DEVEL
# use a fedora mirror
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
# graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

selinux --disabled
firewall --disabled

# Network information
# network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
# network  --hostname=localhost.localdomain
%include /tmp/network.ks

# Root password
rootpw temporal
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Madrid --isUtc
# System bootloader configuration
# bootloader --location=mbr --boot-drive=sda
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel


skipx
reboot

%packages
@^minimal-environment
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end

%pre
#!/bin/sh
for x in `cat /proc/cmdline`; do
  case $x in SERVERNAME*)
    eval $x
    echo "network --device eth0 --bootproto dhcp --hostname ${SERVERNAME}.localdomain" > /tmp/network.ks
    ;;
  esac;
done
%end
